<a href="https://colab.research.google.com/github/thanhduc17/colab-github/blob/main/B%C3%A0i_t%E1%BA%ADp_t%E1%BA%A1i_l%E1%BB%9Bp_phi%C3%AAn_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"
tup1 = ()
tup1 = (50,)

In [2]:
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  50
tup2[1:5]:  (2, 3, 4, 5)

In [3]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
tup3 = tup1 + tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

In [4]:
tup5 = ('physics', 'chemistry', 1997, 2000)
print(tup5)

('physics', 'chemistry', 1997, 2000)

In [5]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
print(len(tup1))
tup3=tup1 + tup2 
print(tup3)
print(tup1*3)
print(4 in tup1)

4
('physics', 'chemistry', 1997, 2000, 1, 2, 3, 4, 5)
('physics', 'chemistry', 1997, 2000, 'physics', 'chemistry', 1997, 2000, 'physics', 'chemistry', 1997, 2000)
False

In [6]:
for x in (tup1):
 print (x)

physics
chemistry
1997
2000

In [7]:
print(tup1[2])
print(tup1[-2])
print(tup1[1:])

1997
1997
('chemistry', 1997, 2000)

In [8]:
tup2 = (1, 2, 3, 4, 5 )
print(len(tup2) )
print(max(tup2) )
print(min(tup2) )

5
5
1

Thao tác với Dictionary - Khởi tạo và truy cập Dictionary

In [9]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print("dict1['Name']: ", dict1['Name'])
print("dict1['Age']: ", dict1['Age'])

dict1['Name']:  Zara
dict1['Age']:  7

In [10]:
dict1 = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict1['Age'] = 8
dict1['School'] = "DPS School"
print("dict['Age']: ", dict1['Age'])
print("dict['School']: ", dict1['School'])

dict['Age']:  8
dict['School']:  DPS School

In [11]:
dict1 = {"Name": "Zara", "Age": 7, "Class": "First"}
del dict1["Name"]
print(dict1)
dict1.clear()
del dict1

{'Age': 7, 'Class': 'First'}

In [12]:
dict1 = {"Name": "Zara", "Age": 7, "Class": "First"}
dist2 = {'Age': 7, 'Class': 'First'}
print(len(dict1) )
print(str(dict1) )

3
{'Name': 'Zara', 'Age': 7, 'Class': 'First'}

In [13]:
dict1.clear() 
print(dict1)
dict1.copy() 
print(dict1)

{}
{}

Kiểu Set (kiểu tập hợp)

In [14]:
Set = set(["a", "b", "c"])
print("Set: ")
print(Set)
Set.add("d")
print("\nSet after adding: ")
print(Set)

Set:
{'a', 'c', 'b'}

Set after adding:
{'d', 'a', 'c', 'b'}

In [15]:
people = {"Jay", "Idrish", "Archi"}
print("People: ")
print(people)
people.add("Daxit")
print(people)

People:
{'Jay', 'Idrish', 'Archi'}
{'Jay', 'Daxit', 'Idrish', 'Archi'}

In [16]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.discard("Sun")
print(Days)

{'Wed', 'Mon', 'Thu', 'Tue', 'Fri', 'Sat'}

In [17]:
set1 = {1,2,3,4,5,6}
print("Initial set")
print(set1)
set1.clear()
print("\nSet after using clear() function")
print(set1)

Initial set
{1, 2, 3, 4, 5, 6}

Set after using clear() function
set()

In [18]:
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}
population = people.union(vampires)
print("Union using union() function")
print(population)
population = people|dracula
print("\nUnion using '|' operator")
print(population)

Union using union() function
{'Idrish', 'Karan', 'Jay', 'Archil', 'Arjun'}

Union using '|' operator
{'Idrish', 'Deepanshu', 'Jay', 'Archil', 'Raju'}

In [19]:
set1 = set()
set2 = {3, 4, 5, 6, 7, 8}
set3 = set1.intersection(set2)
print("Intersection using intersection() function")
print(set3)
set3 = set1 & set2
print("\nIntersection using '&' operator")
print(set3)

Intersection using intersection() function
set()

Intersection using '&' operator
set()

In [20]:
set1 = set()
for i in range(5):
  print(i)
set2 = {3, 4, 5, 6, 7, 8}
# Difference of two sets using difference() function
set3 = set1.difference(set2)
print(" Difference of two sets using difference() function")
print(set3)
# Difference of two sets using '-' operator
set3 = set1 - set2
print("\nDifference of two sets using '-' operator")
print(set3)

0
1
2
3
4
 Difference of two sets using difference() function
set()

Difference of two sets using '-' operator
set()

In [21]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
SubsetRes = DaysA <= DaysB
SupersetRes = DaysB >= DaysA
print(SubsetRes)
print(SupersetRes)

True
True

Thao tác với Date&Time - Lấy thời gian hiện tại

In [22]:
import time; 
ticks = time.time()
print("Number of ticks since 12:00am, January 1, 1970:", ticks)
localtime = time.localtime(time.time())
print("Local current time :", localtime)

Number of ticks since 12:00am, January 1, 1970: 1637045506.879713
Local current time : time.struct_time(tm_year=2021, tm_mon=11, tm_mday=16, tm_hour=6, tm_min=51, tm_sec=46, tm_wday=1, tm_yday=320, tm_isdst=0)

In [23]:
import time;
localtime = time.asctime( time.localtime(time.time()) )
print("Local current time :", localtime)

Local current time : Tue Nov 16 06:51:48 2021

In [24]:
import calendar
cal = calendar.month(2008, 1)
print("Here is the calendar:")
print(cal)

Here is the calendar:
    January 2008
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31